.gameContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    column-count: 2;
    column-gap: 100px;
}
.gameContainer>* {
    flex: 0 0 33.33%;
}


.str-chat__main-panel{
    width: 400px;
    padding: 10px;
}

.str-chat__list::-webkit-scrollbar {
    display: none
  }

@media only screen and (max-width: 768px){
    .gameContainer{
        flex-direction: column;
    }
}


.str-chat__list {
    background-color: #1f2833;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 5px;
    height: 500px;
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.str-chat__list ul {
    list-style-type: none;
    margin: 5px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.str-chat__list li {
    list-style-type: none;
    background-color: #c5c6c7;
    margin-top: 10px;
    border-radius: 6px;
    display: flex;
    align-items: center;
}
.str-chat__list-notifications{
    background-color: lightgrey;
    padding-left: 5px;
}

.str-chat__list .str-chat__message-simple-status {
    display: none;
}

.str-chat__list .str-chat__avatar {
    display: none;
}

.str-chat__message-text-inner {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 5px;
}

.str-chat__message-data {
    margin-bottom: 10px;
    color: #45a29e;
}
.str-chat__message-text-inner{
    color: #1f2833;
}

.str-chat__message-data span {
    margin-left: 8px;
    color: #45a29e;
}

.str-chat__message-data time {
    margin-left: 8px;
    color: #45a29e;
}

.str-chat__input-flat {
    width: auto;
    height: 60px;
    padding: 5px;
    background-color: #1f2833;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.str-chat__input-flat-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 5px;
}

.str-chat__input-flat-wrapper textarea {
    resize:none;
    width: auto;
    height: 50px;
    border: none;
    background-color: #c5c6c7;
    border-radius: 5px;
    box-shadow: 0 0 0 1px black;
    padding: 10px;
    font-size: 15px;
    align-self: center;
}
.str-chat__input-flat-wrapper button{
    width: 20%;
    height: 50px;
    background-color: #c5c6c7;
    border-radius: 20px;
    padding: 10px;
    align-self: center;
    margin-bottom: 5px;
}

.str-chat__message-simple__actions {
    width: 100%;
    padding-left: 5px;
    margin-top: 5px;
}

.str-chat__message-simple__actions__action--reactions {
    display: flex;
    align-items: center;
    width: fit-content;
    background: #c5c6c7;
    border: none;
    padding: 6px 6px 4px 6px;
    z-index: 3;
    cursor: pointer;
}

.str-chat__message-reactions-list {
    display: flex;
}

.str-chat__reaction-list--counter {
    display: none;
}



.str-chat__message-reactions-list-item {
    margin-left: 10px;
    border: none;
    border-radius: 50vw;
    width: 30px;
    height: 30px;
}

.str-chat__message-reactions-list-item span {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.emoji-mart-emoji-custom span {
    height: 15px !important;
    width: 15px !important;
}

.result{
    font-size: xx-large;
}

button{
    border-radius: 5px;
}
.leaveGame{
    height: 50px;
    width: 80px;
    background-color: #66fcf1;
    border: 1px solid #66fcf1;
    border-radius: 10px;
}
.leaveGame:hover{
    scale: 1.1;
    transition-duration: 500ms;
}